.obj1 {
  width: 1500px;
  height: 350px;
  background-color: rgb(54, 54, 54);
}
.obj2 {
  width: 240px;
  height: 230px;
  margin: 20px 0 0 300px;
}
.obj3 {
  width: 240px;
  height: 230px;
  margin-left: 100px;
}
.obj4 {
  width: 240px;
  height: 230px;
  margin-left: 100px;
}
.write1 {
  margin-top: -80px;
  margin-left: 390px;
  color: aliceblue;
  font-size: 30px;
}
.write2 {
  font-size: 30px;
  color: aliceblue;
  margin-left: 730px;
  margin-top: -35px;
}
.write3 {
  color: aliceblue;
  font-size: 30px;
  margin-left: 1060px;
  margin-top: -35px;
}
.write4 {
  font-size: 100px;
  margin-left: 300px;
}
.write5 {
  font-size: 100px;
  margin-left: 300px;
}
.write6 {
  font-size: 100px;
  margin-left: 300px;
}
.wre1 {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: rgb(54, 54, 54);
  margin-left: 290px;
}
.test1 {
  color: aliceblue;
  margin-top: -110px;
  margin-left: 325px;
  font-size: 25px;
}
.test2 {
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
  margin-left: 320px;
}
.header {
  display: flex;
  margin-left: 850px;
}
.wera1 {
  text-decoration: none;
  color: aqua;
  margin-left: 30px;
  font-size: 25px;
}
.wera2 {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 30px;
  margin-top: -60px;
}
.wera3 {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 30px;
  margin-top: -28px;
}
.wera4 {
  text-decoration: none;
  font-size: 25px;
  color: black;
  margin-left: 30px;
  margin-top: -29px;
}
.font1 {
  font-size: 30px;
  margin-top: 50px;
  margin-left: 690px;
  color: rgb(41, 41, 189);
}
.font2 {
  font-size: 30px;
  margin-top: -35px;
  margin-left: 740px;
  color: #87ceeb;
}
.font3 {
  font-size: 30px;
  color: red;
  margin-left: 785px;
  margin-top: -35px;
}
.TOKYO {
  margin-top: -20px;
  margin-left: 550px;
}
.TOKYO1 {
  text-decoration: none;
  margin-left: 360px;
  margin-top: -34px;
}
